* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

label {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid hsl(233, 11%, 84%);
}

label:hover { 
  border-color: hsl(236, 9%, 61%);
}

span {
  font-size: 18px;
}